/*chatbotin keskustelualueen koon ja ulkonäön määrittely */
.chat-window {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    background-color: white;
    border-radius: 16px;
    padding: 10px;
}

/*ikonin koon määrittely ja muokkaaminen pyöreäksi  */
.chat-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

/*Chatbotin keskustelun paikan määrittely, jotta se on ekana ylhäällä ja vasemmalla puolella*/
.chat-message.bot {
    justify-content: flex-start;
}

/*Käyttäjän keskustelupaikan määrittely*/
.chat-message.user {
    justify-content: flex-end;
}

/*Keskustelukuplan määrittely*/
.chat-bubble {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 14px;
}

.bot-bubble {
    background-color: #f0f0f0;
    margin-left: 5px;
}

.user-bubble {
    background-color: #b5d1f1;
    margin-right: 8px;
}