@media only screen and (max-width: 600px) {
  footer {
    display: none;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-alt);
  display: flex;
  flex-direction: column;
  height: 100%;
}


h1 {
  text-align: center;
  margin-top: 40px;
}

h4 {
  margin: 0px;
}

#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


/*TAUSTASIVUN NAVBARIN ASETUKSET*/

.navbar {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
}

.navbar h1 {
  margin: 0;
  padding: 10px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 15px;
}

.navbar li {
  margin: 10px;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tervetuloa {
  margin: 20px;
}

ul {
  list-style: none;
}


/*TUOTEHAUN ASETUKSIA */
.productsearch {
  margin: 5px;
}

.hakutuloskentta {
  background-color: rgb(186, 215, 252);
  padding: 10px;
}

.tuotelista {
  background-color: white;
  box-shadow: 3px 2px 5px black;
  margin: 20px 5px;
  padding: 15px 7px;
  border-radius: 15px;
  overflow: hidden;
}


.tulos {
  background-color: aliceblue;
  padding: 5px;
  margin: 10px;
  box-shadow: 1px 1px 3px black;
  min-width: 120px;
  min-height: 150px;
}

.tulos:hover {
  color: darkblue;
  background-color: rgb(208, 217, 252);
  transform: translate(-3px);
  box-shadow: 2px 2px 3px black;
}

.tuotekaruselli {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  gap: 5px;
}

/*scrollbar pieneksi, ett채 olisi huomaamaton tuotekarusellissa*/
.tuotekaruselli::-webkit-scrollbar { 
  height: 8px;
}

/*Yksitt채isen tuoten채kym채n ikkuna */

.takaisinNappula {
  background-color: darkblue;
  color: white;
}

.takaisinNappula:hover {
  background-color: rgb(0, 54, 154);
}

.tuotenakyma {
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  background-image: linear-gradient(rgb(41, 76, 251), rgb(154, 179, 242), aliceblue );
}


/* TAUSTASIVUN FOOTERIN ASETUKSET*/

footer {
  height: 45px;
  width: 100%;
  background-color: var(--bg);
  color: var(--text);
  margin-top: auto;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}