body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-alt);
  display: flex;
  flex-direction: column;
  height: 100%;
}


h1 {
  text-align: center;
  margin-top: 40px;
}

h4 {
  margin: 0px;
}

#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
}

.navbar h1 {
  margin: 0;
  padding: 10px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 15px;
}

.navbar li {
  margin: 10px;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tervetuloa {
  margin: 20px;
}

ul {
  list-style: none;
}

.productsearch {
  margin: 5px;
}

.tuotelista {
  border: 2px solid black;
  margin: 20px 5px;
  padding: 5px;
  border-radius: 15px;
}

.tuloskortti {
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

.tulos {
  border: 1px solid black;
  padding: 5px;
  box-shadow: 2px 2px black;
}

.tulos:hover {
  color: darkblue;
  background-color: white;
  transform: translate(-3px);
  box-shadow: 2px 5px grey;
}

footer {
  background-color: black;
  color: white;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}