body {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-alt);
  display: flex;
  flex-direction: column;
  height: 100%;
}


h1 {
  text-align: center;
  margin-top: 40px;
}

h3 {
  margin: 10px;
}

h4 {
  margin: 10px;
}

#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


/*TAUSTASIVUN NAVBARIN ASETUKSET*/

.navbar {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
}

.navbar h1 {
  margin: 0;
  padding: 10px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navbar li {
  margin: 10px;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#projekti {
  padding: 10px;
}


/*Ryhmän esittelyn asetukset */
#esittelykappale {
  background-color: var(--bg-project-desc);
  padding: 15px;
}

#ryhma {
  background-color: var(--bg-project-team);
  padding: 15px;
}

.ryhmalaiset {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.hlo {
  border: double 1px black;
  margin: 10px 5px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(var(--bg-team-card-dark), var(--bg-team-card-light));
}

.hlo_kuva {
  max-width: 200px;
  max-height: 200px;
  margin: 10px 5px;
}

.esittelyteksti {
  padding: 0 15px;
}

ul {
  list-style: none;
}


/*TUOTEHAUN ASETUKSIA */
.perustuotehaku {
  margin: 15px;
  padding: 10px;
  background-color: aqua;
}

.productsearch {
  margin: 5px;
}

.haku {
  padding: 10px;
  margin: 0 10px;
}

.hakunappula {
  color: white;
  background-color: black;
}


.hakutuloskentta {
  background-color: rgb(186, 215, 252);
  padding: 10px;
}


/*TUOTELISTAUKSEN ASETUKSIA*/
.tuotelista {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--carousel-bg);
  box-shadow: 3px 2px 5px black;
  margin: 0 auto;
  padding: 15px 7px;
  border-radius: 15px;
  overflow: hidden;
}


.tulos {
  color: var(--card-text);
  background-color: var(--card-bg);
  padding: 5px;
  margin: 10px;
  box-shadow: 1px 1px 3px black;

  width: 120px;
  height: 150px;
}

.tulos:hover {
  color: darkblue;
  background-color: rgb(208, 217, 252);
  transform: translate(-3px);
  box-shadow: 2px 2px 3px black;
}

.tuotekaruselli {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 10px;
}

/*scrollbar pieneksi, että olisi huomaamaton tuotekarusellissa*/
.tuotekaruselli::-webkit-scrollbar { 
  height: 8px;
}

/*Yksittäisen tuotenäkymän ikkuna */

.tuotenakyma img {
  max-width: 80%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.tuotenakyma {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 10px;

  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  background-image: linear-gradient(rgb(41, 76, 251), rgb(154, 179, 242), aliceblue );
}

.product-image-container {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-description-container {
  grid-column: 1;
  grid-row: 2;
}

.takaisinNappula-container {
  grid-column: 2;
  grid-row: 2;
  align-self: end;
  justify-self: end;
}

.takaisinNappula {
  background-color: darkblue;
  color: white;
}


.takaisinNappula:hover {
  background-color: rgb(0, 54, 154);
}




/* TAUSTASIVUN FOOTERIN ASETUKSET*/

footer {
  position: fixed;
  bottom: 0px;
  height: 45px;
  width: 100%;
  background-color: var(--bg);
  color: var(--text);
  margin-top: auto;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 600px) {
  footer {
    display: none;
  }
}