@media (max-width: 600px) {
  .tulos img{
    display: none;
  }

  .tulos {
    height: auto;
  }

  #projekti {
    box-sizing: border-box;
  }

}


body {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-alt);
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

h2 {
  text-align: center;
}

h3 {
  margin: 10px;
}

h4 {
  margin: 10px;
}


#root {
  width: 100dvw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


/*TAUSTASIVUN NAVBARIN ASETUKSET*/

.navbar {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
}

.navbar h1 {
  margin: 0;
  padding: 10px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navbar li {
  margin: 10px;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-wrap: break-word;
}

#projekti {
  padding: 10px;
  overflow-y: auto;
}


/*Ryhmän esittelyn asetukset */
#esittelykappale {
  background-color: var(--bg-project-desc);
  padding: 15px;
  margin: 10px;
  border: double 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#esittelykappale p {
  padding: 0 10px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-align: center;
}

#ryhma {
  background-color: rgb(161, 187, 242);
  padding: 15px;
  margin: 10px;
  color: black;
  border: double 2px black;
  border-radius: 10px;
  text-align: center;
}

.ryhmalaiset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 15px;
  text-align: center;
  place-content: center;
  align-items: stretch;
  gap: 20px;
}

.hlo {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid white;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 20px -10px rgba(0, 0, 0, 0.613);
  background-image: linear-gradient(rgb(78, 142, 253), rgb(152, 216, 248));
}


.hlo:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.428);
  transform: translate(0px, -3px);
}

.hlo:hover .hlo_kuva {
  transform: scale(1.1) rotate(2deg);
}


.hlo_kuva {
  max-width: 200px;
  max-height: 200px;
  margin: 10px 5px;
  padding: 10px;
}

.esittelyteksti {
  padding: 0 15px;
}

ul {
  list-style: none;
}


/*TUOTEHAUN ASETUKSIA */
.perustuotehaku {
  padding: 10px;
  border: dotted 5px black;
  color: white;
  background-color: darkblue;
  border-radius: 10px;
}

.productsearch {
  margin: 5px;
}

.haku {
  padding: 10px;
  margin: 0 10px;
}

.hakunappula {
  color: white;
  background-color: black;
}


.hakutuloskentta {
  padding: 10px;
}


/*TUOTELISTAUKSEN ASETUKSIA*/

.tuotelista {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--carousel-bg);
  box-shadow: 3px 2px 5px black;
  border-radius: 10px;
  margin: 0 auto;
  padding: 15px 7px;
  border-radius: 15px;
  overflow: hidden;
}


.tulos {
  color: var(--card-text);
  background-color: var(--card-bg);
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 3px black;
  border: solid 2px white;
  border-radius: 10px;

  width: 220px;
  height: 250px;
}

.tulos img {
  max-width: 100%;
}

.tulos:hover {
  color: darkblue;
  background-color: rgb(208, 217, 252);
  transform: translate(-3px);
  box-shadow: 2px 2px 3px black;
}

.tuotekaruselli {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
}

/*scrollbar pieneksi, että olisi huomaamaton tuotekarusellissa*/
.tuotekaruselli::-webkit-scrollbar { 
  height: 8px;
}

/*Yksittäisen tuotenäkymän ikkuna */

.tuotenakyma img {
  max-width: 80%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.tuotenakyma {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 10px;

  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  background-image: linear-gradient(rgb(41, 76, 251), rgb(154, 179, 242), aliceblue );
}

.product-image-container {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-description-container {
  grid-column: 1;
  grid-row: 2;
  color: black;
}

.takaisinNappula-container {
  grid-column: 2;
  grid-row: 2;
  align-self: end;
  justify-self: end;
}

.takaisinNappula {
  background-color: darkblue;
  color: white;
}


.takaisinNappula:hover {
  background-color: rgb(0, 54, 154);
}




/* TAUSTASIVUN FOOTERIN ASETUKSET*/

footer {
  position: fixed;
  bottom: 0px;
  height: 45px;
  width: 100%;
  background-color: var(--bg);
  color: var(--text);
  margin-top: auto;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 600px) {
  footer {
    display: none;
  }
}